.item-description {
  font-size: .75em;
  color: grey;
}

.task{
  padding: 8px;
}

ul{
  padding: 16px;
}
li  {
  list-style-type: none;
  background-color: #C3FC98;
  margin: 8px;
  border-radius: 8px;
}
#container{
  background-color: #94F0F4;
  margin: 8px;
  padding: 8px;
}
.button {
  background-color: #FF4519;
  padding: 4px;
  text-align: center;
  max-width: 25%;
  border-radius: 8px;
  margin: 0 auto;
}

input{
  padding: 4px;
  margin: 8px 16px;
  border: none;
}
input.long{
  width: 75%;
}
select{
  background-color: #F8FFF3;
  border-radius: 0;
  border:none;
  -webkit-appearance: none;
  padding: 4px;
}

.frequency{
  float:right
}

body{
  width: 75%;
}
//http://paletton.com/#uid=3090n0kl1Wx1x+IcEXDsUWkWEVB
