.item-description {
  font-size: .75em;
  color: grey;
}

.task{
  padding: 12px;
  position: relative;
}

.unsaved-task{
}
.frequency{
  position: absolute;
  right: 12px;
}
ul{
  padding: 16px;
}
li  {
  list-style-type: none;
  background-color: #C3FC98;
  margin: 8px;
  border-radius: 8px;
}
#container{
  background-color: #94F0F4;
  margin: 8px;
  padding: 8px;
}
.button {
  background-color: #FF4519;
  padding: 4px;
  text-align: center;
  max-width: 25%;
  border-radius: 8px;
  margin: 0 auto;
}

input{
  padding: 4px;
  margin: 8px;
  border: none;
}
input[type="number"]{
  padding: 4px 0;
  text-align: right;
}
input.long{
  width: 75%;
}
select{
  background-color: #F8FFF3;
  border-radius: 0;
  border:none;
  -webkit-appearance: none;
  padding: 4px 10px;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #6DFA00;
  position: absolute;
  right: 3px;
  top: 18px;
}
h1{
  width: 100%;
  text-align: center;
}

body{
  width: 75%;
  font-family: Helvetica;
}
//http://paletton.com/#uid=3090n0kl1Wx1x+IcEXDsUWkWEVB
